*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(hooper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    animation: rotate 3s linear;
    
}

@keyframes rotate{
    100%{transform: rotateZ(360deg);}
}

.main-select{
    display: flex;
}

.navbar{
    display: flex;
    background-color: rgb(79, 182, 182);

}

.navbar li{
    list-style-type: none;
    overflow: hidden;
    

    
}

.navbar a{
    text-decoration: none;
    padding: 20px;
    float: left;
    display: flex;
    color: black;
}

.navbar a:hover{
    background:linear-gradient(blue,green) ;
}
.logo-img{
    height: 200px;
}

.leader{
    background-color: rgb(39, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 400px;
    border-radius: 40px;
    border: 20px solid #8eff8e;
}

.container{
    margin: 20px auto;
    width:90%;
    max-width:900px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 50px;
    
   
}


.mem1{
    background-color: rgb(190, 209, 209);  
    border-radius: 40px;
     border: 20px solid #8eff8e;
}





.mem2{
    background-color: rgb(190, 209, 209);
    border-radius: 40px;
     border: 20px solid #8eff8e;
  
  
   
}



.mem3{
    background-color: rgb(190, 209, 209);
    border-radius: 40px;
     border: 20px solid #8eff8e;
}

.mem4{
    background-color: rgb(190, 209, 209);
    border-radius: 40px;
     border: 20px solid #8eff8e;
}

.mem5{
    background-color: rgb(190, 209, 209);
    border-radius: 40px;
     border: 20px solid #8eff8e;
}

.mem6{
    background-color: rgb(190, 209, 209);
    border-radius: 40px;
     border: 20px solid #8eff8e;
}


